.banner {
    height: 100vh;
    background-image: url('https://www.timeoutjeddah.com/cloud/timeoutjeddah/2021/07/11/Supermarkets-in-Jeddah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}